<% content_for :body_id, "auth-body" %>

<div class="auth">
  <%= image_tag("logo.gif", width: "100%") %>
  <h3>food meets rap genius</h3>

  <%= button_to "log in as guest", session_guest_sign_in_url,
        method: :get, class: "auth-button guest-sign-in" %>

  <form action="<%= session_url %>" method="post" class="form-horizontal">
    <%= form_auth_token %>
    <div class="form-group">
      <input class="form-control"
             placeholder="username"
             name="user[username]">
    </div>

    <div class="form-group">
      <input type="password" class="form-control"
             placeholder="password"
             name="user[password]">

      <input type="submit" value="sign in" class="auth-button">
    </div>

    <p>
      new to yumblr? <%= link_to "sign up", new_user_url %>
    </p>
  </form>

</div>
