<div class="edit-component entry-form">
  <% if (entry.recipe.id) { %>
    <div class="col-md-9 entry-inputs">
  <% } else { %>
    <div class="col-md-11 entry-inputs">
  <% } %>
    <div class="col-md-2 edit-amount">
      <input class="entry-rank"
             name="recipe[ingredient_entries_attributes][<%= entry.escape('rank') %>][rank]"
             type="hidden" value="<%= entry.escape('rank') %>">
      <input class="form-control entry-amount"
           name="recipe[ingredient_entries_attributes][<%= entry.escape('rank') %>][amount]"
           type="number" min="0" max="1000" placeholder="amount"
           value="<%= entry.escape('amount') %>">
    </div><!-- end edit amount -->
    <div class="col-md-2">
      <select class="form-control fraction-select"
              name="recipe[ingredient_entries_attributes][<%= entry.escape('rank') %>][fraction]">
        <option disabled selected>fraction</option>
        <option></option>
        <option>1/8</option>
        <option>1/4</option>
        <option>1/3</option>
        <option>3/8</option>
        <option>1/2</option>
        <option>5/8</option>
        <option>2/3</option>
        <option>3/4</option>
        <option>7/8</option>
      </select>
    </div><!-- end edit fraction -->

    <div class="col-md-2">
      <select class="form-control unit-select"
              name="recipe[ingredient_entries_attributes][<%= entry.escape('rank') %>][unit]">
        <option disabled selected>unit</option>
        <option></option>
        <option>cup</option>
        <option>tbsp</option>
        <option>tsp</option>
        <option>lb</option>
        <option>kg</option>
        <option>large</option>
        <option>medium</option>
        <option>small</option>
        <option>pinch</option>
        <option>bunch</option>
        <option>oz</option>
        <option>clove</option>
        <option>can</option>
        <option>g</option>
        <option>ml</option>
        <option>liter</option>
        <option>gallon</option>
        <option>pint</option>
        <option>head</option>
        <option>slice</option>
        <option>jar</option>
      </select>
    </div><!-- end edit unit -->

    <div class="col-md-6">
      <input placeholder="ingredient"
             class="form-control entry-ingredient"
             name="recipe[ingredient_entries_attributes][<%= entry.escape('rank') %>][ingredient_name]"
             value="<%= entry.escape('ingredient_name') %>">
    </div><!-- end edit ingredient -->

  </div>

  <% if (entry.recipe.id) { %>
    <div class="entry-edit-buttons col-md-3">
  <% } else { %>
    <div class="entry-edit-buttons col-md-1">
  <% } %>
    <% if (entry.recipe.id) { %>
      <div class="save-item">
        <span class="glyphicon glyphicon-ok"></span>
      </div>
    <% } %>
    <div class="remove-item">
      <span class="glyphicon glyphicon-trash"></span>
    </div>
  </div>


</div><!-- end entry form -->
