  <div class="recipes-index col-md-10">
      <% recipes.each(function (recipe) { %>
        <div class="row recipe-wrapper">
          <div class="col-md-4">
            <a href="#recipes/<%= recipe.escape('id') %>">
              <div class="title-card">
                <h3><%= recipe.escape("title") %></h3>
                <h4>by <%= recipe.escape("owner") %></h4>
              </div>
            </a>
          </div>

          <div class="col-md-8">
            <div class="index-card">
              <img class="recipe-img img-responsive"
                    src="<%= recipe.escape('photo_url') %>"
                    alt="<%= recipe.escape('title') %>" />
            </div>
          </div>
        </div>

      <% }) %>
  </div>
