  <div class="recipes-index col-md-10">

      <% if (location.href.indexOf("search") === -1) { %>
      <div id="index-nav" class="btn-group">
              <a href="#" class="btn btn-large btn-info">All Recipes</a>
              <a href="#mycookbook" class="btn btn-large btn-info">My Recipes</a>
            </div>
      <% } %>

      <% recipes.each(function (recipe) { %>
        <div class="row recipe-wrapper">
          <div class="col-md-4">
            <a href="#recipes/<%= recipe.escape('id') %>">
              <div class="title-card">
                <h3><%= recipe.escape("title") %></h3>
                <% if (currentUserId === parseInt(recipe.escape("owner_id"))) { %>
                  <h4>added by you!</h4>
                <% } else { %>
                  <h4>added by <%= recipe.escape("owner") %></h4>
                <% } %>
              </div>
            </a>
          </div>

          <div class="col-md-8">
            <a href="#recipes/<%= recipe.escape('id') %>">
            <div class="index-card">
              <img class="recipe-img img-responsive"
                    src="<%= recipe.escape('photo_url') %>"
                    alt="<%= recipe.escape('title') %>" />
            </div>
          </a>
          </div>
        </div>

      <% }) %>
  </div>

  <a id="back-to-top" href="#"
     class="btn btn-info btn-lg back-to-top"
     role="button" title="Click to return on the top page"
     data-toggle="tooltip" data-placement="left">
       <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
