<!DOCTYPE html>
<html>
<head>
  <title>Yumblr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= yield :body_id %>">

  <% if current_user %>
  <%= render "layouts/header" %>
  <% end %>

  <!-- <%= render "layouts/errors" %>   -->

  <!-- <% if notice || alert %>
    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %> -->

<%= yield %>


<%= yield :user_script %>
</body>
</html>
