<!DOCTYPE html>
<html>
<head>
  <title>Yumblr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>

  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li>error</li>
    <% end %>
  </ul>
  <% end %>

  <% if notice || alert %>
    <div class="row">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

<%= yield %>


<script type="text/javascript" charset="utf-8">
  currentUserId = <%= current_user.try(:id) %>
</script>
</body>
</html>
